@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');





* {
    padding: 0;
    margin: 0;

    --dark-tone: #132243;
    --light-tone: #F5EEDD;
    --white-tone: #fffdf8;
    --shadow: #00000033 2px 2px 3px 2px;
    --text-shadow: #00000055 2px 2px 2px;

    box-sizing: border-box;
}


:root {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: Lexend, sans-serif;
    color: var(--white-tone);
}

body > .background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-blend-mode: hue;
    background-image: url("/Public/Backgrounds/Background.png");
    background-size: 100% 100%;
    z-index: -5;
}

#splash {
    position: absolute;
    display: block;
    top: 0%;
    width: 100%;
    height: 0rem;
    transition: all 300ms ease-out;
    overflow: hidden;

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
    z-index: 100;
}

#splash .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url("/Public/Backgrounds/Background.png");
    z-index: -1;
}

#splash img {
    height: 80%;
}

.fullscreen {
    height: 100vh !important;
}

#burguer {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    scale: 2;
    padding: 0;
    display: none;
    background-color: #00000000;
    border: none;
}

#burguer img {
    width: 100%;
    height: 100%;
}

header {
    top: 0px;
    position: sticky;
    display: flex;
    z-index: 50;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0px;
    background-color: #132243dd;
    color: var(--white-tone);
    box-shadow: var(--shadow);
    backdrop-filter: blur(4px);
}

h1, h2 {
    font-family: Unica One, sans-serif;
    font-weight: bold;
}

main figure, main h1, main h2, main h3, main figure, main p{
    margin-bottom: 1rem;
}

nav {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    line-height: 1.5rem;
    color: var(--white-tone);
    text-shadow: var(--text-shadow);
    background-color: #153c4add;
    backdrop-filter: blur(4px);
    min-width: 10rem;
    width: 15%;

    z-index: 2;

    transition: all 100ms ease-out;
}

nav.override-hidden
{
    overflow: hidden;
    min-width: 0px;
    width: 0px;
}

nav h3 {
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 0px 15px;
    background-color: var();
}

nav a {
    display: block;
    padding: 15px;
    transition: all 80ms ease-out;
}

nav a:hover {
    background-color: var(--white-tone);
    text-shadow: none;
    color: #153c4add;
} 

article {
    padding: 6rem 40px 40px 40px;
    width: 80%;
    justify-self: right;
}

article section {
    position: relative;
    top: -5.4rem;
    margin-top: 2rem;
}

article h2 {
    font-size: 2rem;
    text-shadow: var(--text-shadow);
}

article h3 {
    justify-self: center;
}

article .content-box {
    background-color: var(--light-tone);
    padding: 2rem;
    color: var(--dark-tone);
    border-radius: 32px;
    box-shadow: var(--shadow)
}

article p {
    text-align: justify;
}


footer {
    position: relative;
    background-color: #110524ff; 
    padding: 16px;
    text-align: center;

    bottom: 0px;

    z-index: 5;
}

figure {
    max-width: 50%;
    width: fit-content;
    justify-self: center;
}

figcaption {
    text-align: center;
}

figure img {
    max-width: 100%;
    box-shadow: var(--shadow)
}

.timeline {
    min-width: 15rem;
    width: 40%;
    max-width: 80%;
    justify-self: center;
    margin-bottom: 1.5rem;
}

.timeline-notes {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.timeline-ilustration {
    display: flex;
    align-items: center;
    width: calc(100% - 5rem);
    justify-self: center;
}

.timeline-ilustration hr {
    scale: 102% 100%;
    flex-grow: 1;
    background-color: var(--dark-tone);
    height: 0.5rem;
    border: none;
}

.timeline-ilustration div{
    width: 1rem;
    height: 1rem;
    background-color: var(--dark-tone);
    border-radius: 100%;
}

.box-grid {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-self: center;
    justify-content: center;
}

.box-element {
    padding: 0rem 1rem 1rem 1rem;
    margin: 2rem;
    width: 18rem;
    height: 18rem;
    aspect-ratio: 1;
    border-radius: 24px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 80ms ease-out;
}

.box-element:hover {
    scale: 1.1;
    background-color: var(--dark-tone);
    color: var(--light-tone);
}

.box-element:hover img{
    filter: brightness(0) saturate(100%) invert(95%) sepia(3%) saturate(2797%) hue-rotate(319deg) brightness(102%) contrast(102%);
}

.box-element h4 {
    text-align: center;
}

.box-element img {
    width: 60%;
    align-self: center;
    justify-self: center;
    filter: brightness(0) saturate(100%) invert(12%) sepia(7%) saturate(6052%) hue-rotate(182deg) brightness(96%) contrast(97%);
}

iframe {
    position: relative;
    width: 100%;
    height: 30rem;
    left: 50%;
    transform: translateX(-50%);
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-self: center;
}

form input, form textarea {
    width: 100%;
}

form label {
    margin-top: 1rem;
    font-weight: bold;
}

form label, form input, form textarea, form button {
    display: block;
}

form input, form textarea, form button {
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: 12px;
}

form input {
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

form textarea {
    resize: none;
    height: 20rem;

    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

form button {
    outline: none;
    border-width: 2px;
    border-style: solid;
    background-color: white;
    border-color: white;
    align-self: center;
    font-weight: bold;
}

form input:placeholder-shown:not(:focus), form textarea:placeholder-shown:not(:focus), form button:not(:focus) {
    border-color: #00000000;
}

form input:invalid {
    border-color: #C51D25ff;
}

form input:focus, form textarea:focus {
    border-color: #FFBC00ff;
}

form input:valid, form textarea:valid {
    border-color: #539937ff;
}

form input:placeholder-shown:hover:not(:focus), textarea:placeholder-shown:hover:not(:focus), form button:hover {
    border-color: gray;
}

a, button, #burguer {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #10908e;
}

#burguer:hover {
    filter: brightness(0) saturate(100%) invert(39%) sepia(80%) saturate(454%) hue-rotate(130deg) brightness(99%) contrast(94%);
}

@media only screen and (max-aspect-ratio: 6/5) {

    :root 
    {
        font-size: 14px;
    }

    header 
    {
        font-size: 12px;   
    }

    nav.hidden
    {
        overflow: hidden;
        min-width: 0px;
        width: 0px;
    }

    #splash
    {
        flex-direction: column;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }

    #splash img
    {
        height: auto;
        width: 80%;
    }

    .box-grid
    {
        padding: 0px;
    }

    .box-element
    {
        margin: 0.5rem;
    }

    #burguer 
    {
        display: block;
    }

    article 
    {
        width: 100%;
        padding: 6rem 24px 24px 24px;
    }

    form
    {
        width: 95%;;
    }

    iframe {
    height: 40rem;
    }
}

